.clickable {
  cursor: pointer;
}

.profile-pic {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 5%;
  border: #77321c 2px solid;
}

.modalImputRow {
  display: 'flex';
  flex-direction: 'row';
  width: '100%';
  align-self: 'center';
  justify-content: 'center';
  align-items: center;
}

.dropdownInput {
  border-radius: 10px;
  border: gray 2px solid;
  padding-inline: 10px;
  width: 60%;
  color: #77321c
}

.dropdownInput:hover {
  border-color: #ed6337;
  background-color: #fdefeb;
}

.dropdownInput:focus {
  outline: #77321c 2px solid;
  background-color: #fdefeb;
  border-color: #77321c;
}

.dropdown {
  border-radius: 10px;
  border: gray 2px solid;
  padding-inline: 10px;
  width: 60%;
  color: #77321c
}

.dropdown:hover {
  border-color: #ed6337;
  background-color: #fdefeb;
}

.dropdown:focus {
  outline: #77321c 3px solid;
  background-color: #fdefeb;
  border-color: #77321c;
}

.searchDropdown {
  border-radius: 10px;
  border: none;
  color: white;
  background-color: #ed6337;
}

.searchDropdown:hover {
  border-color: #ed6337;
}

.searchDropdown:focus {
  outline: none;
  border: none;
}

.modalInfoRow {
  display: 'flex';
  flex-direction: 'row';
  width: '100%';
  align-self: 'center';
  justify-content: 'center';
  align-items: center;
}

.brandsList {
  display: flex;
  flex-wrap: wrap;
  gap: 20px; /* Adjust this value to increase or decrease the spacing between items */
  list-style-type: none;
  padding: 0;
}

.brandsList li {
  position: relative;
}

.brandsList li::after {
  content: "•";
  position: absolute;
  right: -15px; /* Adjust this value to match the increased gap */
  top: 0;
  color: #ed6337;
}

.brandsList li:last-child::after {
  content: "";
}

.tooltip {
  background-color: aliceblue;
}