.clickable {
  cursor: pointer;
}

.profile-pic {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 5%;
  border: #77321c 2px solid;
}

.modalImputRow {
  display: 'flex';
  flex-direction: 'row';
  width: '100%';
  align-self: 'center';
  justify-content: 'center';
  align-items: center;
}

input {
  border-radius: 10px;
  border: gray 2px solid;
  padding: 5px;
  padding-inline: 10px;
  width: 60%;
  color: #77321c
}

input:hover {
  border-color: #ed6337;
  background-color: #fdefeb;
}

input:focus {
  outline: #77321c 2px solid;
  background-color: #fdefeb;
  border: none;
}

.dropdown {
  border-radius: 10px;
  border: gray 2px solid;
  padding: 5px;
  padding-inline: 10px;
  width: 60%;
  color: #77321c
}

.dropdown:hover {
  border-color: #ed6337;
  background-color: #fdefeb;
}

.dropdown:focus {
  outline: #77321c 2px solid;
  background-color: #fdefeb;
  border: none;
}

.searchDropdown {
  border-radius: 10px;
  border: none;
  color: white;
  background-color: #ed6337;
}

.searchDropdown:hover {
  border-color: #ed6337;
}

.searchDropdown:focus {
  outline: none;
  border: none;
}

.searchInput {
  border-radius: 10px;
  border: #ed6337 2px solid;
  padding: 5px;
  padding-inline: 10px;
  color: #77321c
}

.searchInput:hover {
  border-color: #ed6337;
  background-color: #fdefeb;
}

.searchInput:focus {
  outline: #77321c 2px solid;
  background-color: #fdefeb;
  border: none;
}

.modalInfoRow {
  display: 'flex';
  flex-direction: 'row';
  width: '100%';
  align-self: 'center';
  justify-content: 'center';
  align-items: center;
}